@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color:  #bdc3c7;
}
.info {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-bottom: 64px;
height: 220px;

}
.btn{
  cursor:pointer;
}
h1 {
  color : #34495e;
}

.clicked{
  color : #9b59b6;
}

.form,.greetings {
  display:none;
}

.showing {
  display:block;
}

.bgImage {
  position : absolute;
  top : 0;
  left : 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation : fadeIn .5s linear;
}

@keyframes fadeIn {
  from {
    opacity : 0;
  }
  to {
    opacity : 1;
  }
}
input:focus {
  outline:none;
}
in, .greetings {
}
.nameInput, .greetings, .toDoInput {
  background : none;
  border:0;
  border-bottom : 1px solid black;
}
.nameInput, .greetings {
    margin-top: 32px;
    font-size: 36px;
}
.toDoInput {
  width: 565px;
  font-size: 20px;
}
 .nameInput::placeholder,.toDoInput::placeholder {
   color: rgba(49,49,49,.77);
   font-weight: bold;
}

.contents {
  display:flex;
  justify-content: space-evenly;
}

.toDo, .weather {
  width: 700px;
  height: 500px;
  background-color : rgba(216, 211, 211, 0.2);
}
.toDoList {
  margin: 5 0 0 0;
  width: 660px;
  height: 380px;
  overflow: hidden;
  overflow-y:scroll;
}
.toDoList li {
  font-size: 24px;
}
.trashCan, .toDoList li button{
  border : solid 1px rgba(138,138,138,.52);
  background-color: rgba(162,162,162,.73);
  float : right;
}
.trashCan {
  float : right;
  width: 130px;
  height: 26px;
}
.showBox {
  width:700px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border:0;
  background-color : rgba(117,113,113,.22);
  margin-bottom:40px;
}
.showBox:hover {
  color:#252525;
}
.appear {
  animation : fadeIn 1s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.weatherContents {
  font-size: 24px;
}
.weatherContents ul li span {
  font-weight: bold;

}
.weatherContents ul li {
  padding-bottom: 20px;
}
.fast {
  font-size: 24px;
}
